@font-face {
  font-family: "DancingScript";
  src: url("../media/fonts/DancingScript-Regular.otf");
}
@font-face {
  font-family: "DancingScript";
  src: url("../media/fonts/DancingScript-Regular.otf");
  font-weight: bold;
}

*{  font-family: DancingScript; }

body{ background-color: #02010a;  }

#contenido{
  width: 900px;
  margin: 0 auto;
}

header{
  background-color: #5b7989;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  width: inherit;
}

header div{ color: white; }

#head1{
  float: left;
  text-shadow: 2px 2px #02010a;
}

#head2{
  float: right;
  margin-top: 10vh;
}

a{  color:white;  }

a[href="#"]{  text-decoration: none;  }

picture img{  max-width: 700px; }

section[id*="secImg"]{
  text-align: center;
  padding: 4%;
}
section[id*="secImg"] div{
  padding: 1%;
}

#secImg1{ background-color: #82c3a6;  }

#secImg2,#secImgGallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d5c75f;
  border: 1px;
}
#secImg2 div{flex: 0 1 48%;}

#secImg2 img, #secImgGallery img{ width: 100%; }

#secImg2 div img{
  transition-duration: 1s;
  box-shadow: 2px 2px black;
}

#secImg2 div:nth-child(1) img:hover{
  transform: rotate(10deg);
  transition-duration: 1s;
}

#secImg2 div:nth-child(2) img:hover{
  transform: translate(20px, -5px);
  transition-duration: 1s;
}

#secImgGallery div{ flex: 0 1 31%;  }

#secImgGallery div:nth-child(1){  filter: blur(10px); }

#secImgGallery div:nth-child(even){ filter: grayscale(100%); }

#secImgGallery div:nth-child(3){ filter: sepia() }

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0% 0% 4% 4%;
}
footer div{
  flex: 0 1 25%;
}
footer img{
  width: 15px;
}
footer a{
  color: black !important;
}

@media (max-width:900px){
  #contenido{
    width: 100%;
  }
  header div{
    width: 100%;
    text-align: center;
  }
  picture img{
    max-width: 100%;
  }
  #secImg2{ flex-direction: column; }
  #secImgGallery div{
    flex: 0 1 100%;
    flex-direction: column;
  }
  footer div{
    flex: 0 1 100%;
  }

}
